<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-settings ico-white"></i>Login</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <form ng-submit="userLogin()" class="user-form login-form">
    <h1>Login</h1>
      <div class="form-group">
        <label for="authEmail">Email</label>
        <input id="authEmail" class="form-control" type="email" name="email" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control" type="password" name="password" ng-model="user.password">
      </div>
    <button class="button button-blue" type="submit">Login</button>
  </form>
</div>
